{% extends "ych_admin/index.html" %}

{% block head_title %}
YCH - Contact-Us
{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Contact-Us</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active"><a href="/contact-us/">Contact-Us</a></li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            
            <!-- Small boxes (Stat box) -->
            <div class="row">
                {% for contact in contactus %}
                <div class="col-8">
                    <div class="info-box mb-3">

                    <div class="info-box-content-1">
                        <span>
                            <label>Contact Title: </label>
                            <p>{{ contact.contact_title }}</p>
                        </span>
                        <span>
                            <label>Contact num: </label> 
                            &nbsp;{{ contact.contact_num }}
                        </span>
                        <span>
                            <label>Contact num: </label> 
                            <p>{{ contact.contact_address }}</p>
                        </span>
                        
                        <br>
                        <a href="/edit-contactus/{{contact.id}}/" id="editBtn"><i class="fa fa-edit"></i>Edit</a><br>
                        <a type="button" id="deleteBtn" onclick="return deleteData('{{contact.id}}')"><i class="fa fa-trash"></i> Delete</a>
                    </div>
                    <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                
                {% endfor %}
                
            </div>
            <!-- /.row -->           

            <hr>
            <div class="row">
                <div class="col-4">
                   
                    <form action="" method="post" onsubmit="return checkContactus();">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Add Contact Title*</label>
                            <input type="text" name="contact_title" id="contact_title" value="{% if request.POST %}{{ request.POST.contact_title }}{% endif %}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Add Contact Number*</label>
                            <input type="text" name="contact_num" id="contact_num" maxlength="10" value="{% if request.POST %}{{ request.POST.contact_num }}{% endif %}"  class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Add Address*</label>
                            <textarea name="contact_address" id="contact_address" cols="30" rows="10" class="form-control">{% if request.POST %}{{ request.POST.contact_address }}{% endif %}</textarea>
                            
                        </div>
                        <button type="submit" name="submit"class="btn btn-primary">Submit</button>
                    </form>
                    <br>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Check validation -->
<script type="text/javascript">
function checkContactus(){
    const contact_title = document.getElementById("contact_title").value;
    const contact_num = document.getElementById("contact_num").value;
    const contact_address = document.getElementById("contact_address").value;
    
    
    if(contact_title == "" || contact_num == "" || contact_address == ""){
        
        swal("Try Again!", "Please enter value!", "error");
        return false;
    }
    else if(contact_num != "")
    {
        if(!parseInt(contact_num)){
            swal("Try Again!", "Please enter digits!", "error");
            return false;
        }
        else if(contact_num.length < 10){
            
            swal("Try Again!", "Please enter 10 digits!", "error");
            return false;
        }   
    }   
}
</script>

<!-- Print Success Message -->
{% if msg %}         
<script>
    swal({
        title:"{{title}}", 
        text:"{{msg}}", 
        icon:"{{icon}}"
    }).then(function(){
        if("{{icon}}" == "success"){
            window.location = '/contact-us';
        }
    });
</script>
{% endif %}

<!-- Print Delete Warning -->
<script>
function deleteData(contact_id){
    const con_id = contact_id;
    console.log("Contact_id="+con_id);
    swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover this record!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    }).then((willDelete)=>{
        if (willDelete) {
            swal("Poof! Your record has been deleted!", {
            icon: "success",
            
            }).then(function(){
            return window.location = '/delete-contactus/'+con_id+'/';
            });
            
            
            
        } else {
            swal("Your recorde is safe!").then(function(){
            return window.location = '/contact-us';
            });
            
        }
    });
}
</script>

{% endblock %}