{% extends "ych_admin/index.html" %}

{% block head_title %}
YCH - Edit Home Page
{% endblock %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Edit Home</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active"><a href="/edit-home-page/">Edit Home Page</a></li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
              
            <div class="row">
                <div class="col-4">
                    
                    <form action="/update-home-page/{{home_data.id}}/" method="post" onsubmit="return checkHomepage();">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Edit Title*</label>
                            <input type="text" name="home_title" id="home_title" value="{{home_data.home_title}}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Edit Content*</label>
                            <textarea name="home_content" id="home_content" cols="30" rows="10" class="form-control">{{home_data.home_content}}</textarea>
                            
                        </div>
                        <button type="submit" name="submit"class="btn btn-primary">Submit</button>
                    </form>
                    <br>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">
function checkHomepage(){
    const home_title = document.getElementById("home_title").value;
    const home_content = document.getElementById("home_content").value;
    
    if(home_title === "" || home_content === ""){
        
        swal("Try Again!", "Please enter value!", "error");
        return false;
    }
}

</script>
{% endblock %}